@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  --color-card-p: #f7dd43;
  --color-boder-t: #746615;
  --color-bg:#1d1c19;
  --bg: url(./assets/bg-yellow.svg);
}

/*
body.blue {
  --color-card-p: #338AF3;
  --color-boder-t: #338AF3;
  --color-bg: #202024;
  --bg: url(./assets/bg-blue.svg);
}
*/


/*
 body.green {
  --color-card-p: #496E2D;
  --color-boder-t: #496E2D;
  --color-bg: #121214;
    --bg: url(./assets/bg-green.svg);
}
*/

  
  ul {
    list-style: none;
  }
  
  body {
    background: #121214  var(--bg) no-repeat right center/cover;
    margin: auto;
    background-attachment: fixed;
  }
  


  body * {
    font-family: "Roboto", sans-serif;
  }
  
  #app {
    width: fit-content;
    margin: auto;
    padding-top: 52px ;
  }
  
  header {
    margin-bottom: 63px;
    text-align: center;
  }
  
  #cards {
    display: flex;
    gap: 32px;
  }


  .card {
    padding: 32px 23px;
    text-align: center;
    background: var(--color-bg);
    border-bottom: 2px solid var(--color-card-p);
    border-radius: 6px;
  }
  
  .card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid var(--color-boder-t);
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    color: #f7dd43;
  }
  
  .card h2 span {
    color: #e1e1e6;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
  }
  
  .card ul li  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card ul li + li {
    padding-top: 24px;
    border-top: 1px solid #323238;
  }
  
  .card ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color: #E1E1E6;
  }

.card h2:hover,  
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card {
  opacity: 0;
  animation: appear 0.5s forwards;
}

.card:hover {
  opacity: 80%;
  box-shadow: 2px 0px 12px 1px var(--color-card-p);
  transition: 0.5s;
}

@keyframes appear {
  0% {
    transform: rotateY(90deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


  @media (max-width: 1060px) {
    body {
      padding: 30px;
    }
    header {
      margin-bottom: 40px;
    }

    .card {
      padding: 25px 25px;
    }

    .card h2 {
      gap: 13px;
      padding: 6px 12px;
      margin-bottom: 36px;
    }
    .card h2 span {
      font-size: 12px;
    }
    .card ul {
      gap: 16px;
      width: 220px;
    }
    .card ul li + li {
      padding-top: 18px;
    }
    .card ul li strong {
      font-size: 30px;
    }
  }


  @media (max-width: 900px) {

    #cards {
      flex-direction: column;
    }

    #app {
      padding-top: 32px;
    }
  }
